@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-blue: hsla(195, 100%, 15%, 1);
  --orange-bg: hsla(25, 85%, 49%, 100%);
}

html, body{
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


/* pre title style */
.pre_title{
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0.6;
  /* color: rgba(0, 0, 0, 0.5); */
}

.tag{
  color: hsla(25, 85%, 49%, 1);
}

.sectionTitle{
  font-size: 2.5rem;
  font-weight: 500;
}

.newsletter {
  background-image: url('../images/email.svg');
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 5%;
}

.slanted_div{
  position: relative;
  background: linear-gradient(to right, hsla(195, 100%, 15%, 1) 58%, rgba(0, 56, 77, 0.284)), url('../images/leaf.png') no-repeat;
  background-size: contain;
  background-position: right center;
}

.slanted_div::after{
  content: '';
  position: fixed;
  bottom: -150px;
  width: 100%;
  height:400px;
  background-color: white;
  display: block;
  transform: skew(0, 6deg);
  /* transform-origin: 0% 100%; */
  /* transform-origin: 100% 0; */
}

input{
  width: 100%;
}

.sign input[type="text"], .sign input[type="email"],  .sign input[type="password"]{
  padding: 20px 20px 20px 65px;
  background-color: rgba(238, 238, 238, 0.305);
  border-radius: 5px;
  /* outline: 1px solid transparent; */
}

.sign input[type="text"]{
  background-image: url("../images/icons/fluent_rename-20-regular.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
}

.sign input[type="email"]{
  background-image: url("../images/icons/mdi-light_email.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
}

.sign input[type="password"]{
  background-image: url("../images/icons/bytesize_lock.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
}

.sign input[type="button"], .google{
  padding: 15px 20px;
  border-radius: 5px;
  width: 100%;
  
}

.google{
  background-image: url("../images/icons/flat-color-icons_google.svg");
  background-repeat: no-repeat;
  background-position: left 22% center;
}

.error{
  color: rgb(209, 36, 36);
  padding: 0;
  margin: 0;
}

/* toast */
#custom-target{
  position: relative;
  transition: height 0.3s ease;
  /* background-color: red; */
}

/* .swal2-popup {
  font-size: 0.5em !important;
} */

.position-absolute{
  position: relative !important;
}

@media screen and (min-width: 1533px) {
  .slanted_div::after{
    bottom: -100px;
  }
}


.bg_gradient{
  background: linear-gradient(103.49deg, rgba(0, 57, 77, 0.94) 0%, #12B8A4 100.53%);
}

.leaf_bg{
  background: url('../images/leaf_big_bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.g_text{
  background: linear-gradient(to bottom, hsla(25, 85%, 49%, 1) 55%, hsla(0, 0%, 100%, 1));
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.search_box{
   
}

.search_box::placeholder{
  
}